{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "chrome": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "no-cond-assign": ["error", "except-parens"],
    "no-multi-str": "warn",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}
